<section class='row mt-3 border border-2 shadow-sm py-2'>
  <div class='col-2'>
    <img class='user-image' src=<%= user.photo %>></img>
  </div>
  <div class='col-10'>
    <p><%= user.name %></p>
    <p class='text-end'>Number of posts: <%= user.posts_counter || 0 %></p>
  </div>
</section>
